html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: #f2f2f2;
    color: #000000;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input [type="checkbox"].visually-hidden,
input [type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    ;
}

.main-container {
    position: relative;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2);
    background-color: #fff;
}

/* Стилизация главного меню и логотипа начало */

.header-logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 1px;
}

.site-navigation {
    list-style: none;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 71px;
    padding-right: 66px;
}

.menu-item {
    font-weight: 800;
    font-size: 14px;
    letter-spacing: 0.27px;
    line-height: 26px;
    width: 22.7272727273%;
    padding-top: 14px;
    padding-bottom: 16px;
}

.menu-item:nth-of-type(3) {
    margin-left: 91px;
    text-align: right;
    margin-right: 3px;
}

.menu-item:nth-of-type(4) {
    text-align: right;
    padding-right: 1px;
}

.selected-page a {
    color: #766357;
}

.other-pages a {
    color: #000000;
}

.other-pages:hover a {
    color: #81b3d2;
}

.other-pages:active a {
    color: #818181;
}

/* Стилизация главного меню и логотипа конец */

/* Стилизация информационных блоков на главной странице начало */

.main-promo-text {
    display: block;
    width: 100%;
    text-align: center;
    padding-top: 55px;
    color: #000000;
    line-height: 23px;
    margin-bottom: 52px;
}

.main-promo-text b {
    font-size: 21px;
    font-weight: 400;
}

.main-promo-text p {
    margin-top: 28px;
    letter-spacing: 0.1px;
}

/* Стилизация блоков с преимещствами */

.main-advantages {
    display: flex;
    flex-direction: column;
}

.block-reason {
    display: flex;
    justify-content: space-around;
    background-color: #81b3d2;
}

.block-reason-title {
    width: 400px;
    color: #ffffff;
    line-height: 21px;
    text-align: center;
    padding-top: 47px;
}

.block-reason-title h3 {
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 21px;
}

.block-reason-title p {
    margin-top: 0;
    margin-bottom: 21px;
}

.block-reason-illustration {
    position: relative;
    width: 800px;
    height: 256px;
    overflow: hidden;
}

.city​-picture {
    position: absolute;
    top: -78px;
}

.canyon-picture {
    position: absolute;
    top: -76px;
}

.line-reason-top {
    display: flex;
    padding-top: 60px;
    padding-bottom: 68px;
    background-color: #ffffff;
}

.element-reason {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 21px;
    width: 33.33%;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.05px;
}

.element-reason-icon {
    height: 80px;
    position: relative;
}

.element-reason-icon svg {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 8px;
}

.element-reason h3 {
    font-size: 21px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
    font-size: 21px;
    font-weight: 700;
}

.line-reason-bottom {
    display: flex;
    padding-top: 26px;
    padding-bottom: 45px;
    background-color: #eeeeee;
}

.line-reason-bottom p:first-of-type {
    margin-bottom: 7px;
}

/* Стилизация информационных блоков на главной странице конец */

/* Стилизация блока "Заинтересовались?" начало */

.sentence {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.sentence-text b {
    display: block;
    margin-top: 50px;
    margin-bottom: 24px;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.2px;
}

.sentence-text p {
    display: block;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 47px;
}

.sentence-button {
    width: 568px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #766357;
    color: #ffffff;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
}

.sentence-button:hover {
    background-color: #604e43;
}

.sentence-button:active {
    background-color: #503e33;
    color: #857871;
}

/* Стилизация блока "Заинтересовались?" конец */

/* Стилизация формы поиска и бронирования начало */

.sentence-block {
    position: absolute;
    text-align: center;
    background-color: #ffffff;
    width: 568px;
    padding: 55px;
    display: flex;
    flex-direction: column;
}

.sentence-date {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 38px;
    margin-bottom: 30px;
}

.sentence-block-date {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75.5%;
    position: relative;
}

.sentence-date label {
    background-color: #ffffff;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    align-self: center;
    letter-spacing: 0.22px;
}

.sentence-block-date a {
    position: absolute;
    left: 316px;
    top: 8px;
}

.calendar-icon:hover path {
    fill: #000000;
}

.calendar-icon:active path {
    fill: #81b3d2;
}

.sentence-date input {
    background-color: #f2f2f2;
    border: 2px solid #f2f2f2;
    color: #000000;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    text-align: left;
    width: 100%;
    padding-left: 11px;
    outline: none;
}

.sentence-date input:hover {
    background-color: #ebebeb;
    border: 2px solid #ebebeb;
}

.sentence-date input:focus {
    background-color: #ffffff;
    border: 2px solid #ebebeb;
}

.sentence-date input::-webkit-input-placeholder {
    color: #000000;
}

.sentence-date input::-moz-placeholder {
    color: #000000;
}

.total-resident-data {
    display: flex;
    flex-direction: row;
    margin-bottom: 53px;
    height: 38px;
}

.resident-data {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.resident-data label {
    background-color: #ffffff;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    align-self: center;
}

.resident-number {
    display: flex;
    flex-direction: row;
}

.kids-data {
    padding-left: 50px;
}

.adults-data {
    padding-right: 3px;
}

.resident-number-control {
    background-color: #f2f2f2;
    border: 0;
    padding: 0;
    margin: 0;
    width: 38px;
    outline: none;
    color: #a9a9a9;
}

.resident-number-control:hover {
    color: #000000;
}

.resident-number-control:active {
    color: #81b3d2;
}

.icon-number {
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
}

.resident-number input {
    background-color: #f2f2f2;
    border: 2px solid #f2f2f2;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    width: 38px;
    height: 38px;
    padding: 0;
    outline: none;
}

.resident-number input:focus {
    background-color: #ffffff;
    border: 2px solid #f2f2f2;
}

.resident-number input::-webkit-input-placeholder {
    color: #000000;
}

.resident-number input::-moz-placeholder {
    color: #000000;
}

/* Кнопка найти */

.search-button {
    background-color: #81b3d2;
    border: 0px;
    outline: none;
    color: #ffffff;
    width: 458px;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    padding-top: 17px;
    padding-bottom: 15px;
}

.search-button:hover {
    background-color: #669ec0;
}

.search-button:active {
    background-color: #5496bd;
    color: #88b6d1;
}

/* Стилизация формы поиска и бронирования конец */

/* Стилизация карты на главной странице начало */

.map-sedona {
    width: 100%;
    height: 473px;
    background-color: #dfdbd3;
}

/* Стилизация карты на главной странице конец */

/* Стилизация формы ввода параметров на странице catalog начало */

.selection-hotel {
    background-color: #789ec2;
}

.selection-hotel-legend {
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
    color: #ffffff;
    border: none;
}

.selection-hotel-parameter li {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #ffffff;
    list-style: none;
}

.selection-price-title {
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
    color: #ffffff;
}

.selection-price-number {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #ffffff;
}

.selection-price-number input {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #ffffff;
    background-color: transparent;
    border: 0px;
}

.selection-price-number input::-webkit-input-placeholder {
    color: #ffffff;
    background-color: transparent;
}

.selection-price-number input::-moz-placeholder {
    color: #ffffff;
    background-color: transparent;
}

.selection-button {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    border: 0px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: transparent;
}

.selection-button:hover {
    color: #000000;
    background-color: #ffffff;
}

/* Стилизация формы ввода параметров на странице catalog конец */

/* Стилизация списка отелей на второй странице начало */

.hotel-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}

.hotel-card {
    display: flex;
    border-bottom: 1px solid #e5e5e5;
    padding-top: 30px;
}

.hotel-picture {
    margin-left: 72px;
    margin-right: 30px;
    margin-bottom: 30px;
    background-color: #9c9495;
}

.hotel-info {
    font-size: 14px;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.hotel-title {
    box-sizing: border-box;
    height: 15px;
    margin-top: 9px;
}

.hotel-title h2 {
    color: #000000;
    font-size: 21px;
    line-height: 0px;
    font-weight: 700;
    letter-spacing: 0.2px;
    margin: 0;
    padding: 0;
}

.hotel-title h2:hover {
    color: #81b3d2;
}

.hotel-title h2:active {
    color: #b2b2b2;
}

.hotel-price {
    margin-top: 4px;
    display: flex;
}

.hotel-price span {
    width: 45%;
}

.hotel-action {
    display: flex;
    margin-top: 14px;
}

.hotel-more {
    width: 110px;
    height: 27px;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    background-color: #81b3d2;
    color: #ffffff;
    text-align: center;
    margin-right: 6px;
}

.hotel-more:hover {
    background-color: #669ec0;
}

.hotel-more:active {
    background-color: #5496bd;
    color: #88b6d1;
}

.hotel-booking {
    width: 142px;
    height: 27px;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    background-color: #766357;
    color: #ffffff;
    text-align: center;
}

.hotel-booking:hover {
    background-color: #604e43;
}

.hotel-booking:active {
    background-color: #503e33;
    color: #857871;
}

.block-info-price {
    width: 258px;
    display: flex;
    flex-direction: column;
}

.block-rating {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 522px;
}

.number-stars {
    margin-bottom: 47px;
    height: 17px;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.rating-text {
    margin: 0px;
    padding-top: 3px;
    background-color: #f2f2f2;
    height: 27px;
    width: 110px;
    text-align: center;
}

.rating-text p {
    color: #6f6f6f;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.icon-star {
    width: 18px;
    height: 17px;
    margin-left: 5px;
}

.icon-star::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 17px;
    background-image: url(..//img/star.svg);
    background-repeat: no-repeat;
}

/* Стилизация списка отелей на второй странице конец */

/* Стилизация футера начало */

.footer-container {
    display: flex;
    align-items: flex-start;
    padding-top: 35px;
    padding-bottom: 34px;
}

.block-hashtag {
    padding-top: 11px;
    width: 33.33%;
}

.footer-hashtag {
    display: block;
    text-align: center;
    color: #000000;
    font-size: 21px;
    font-weight: 800;
    line-height: 26px;
}

.block-soc-icon {
    width: 33.33%;
    padding-left: 125px;
    margin-top: 1px;
}

.soc-icon-row {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 150px;
    padding: 0;
    margin: 0;
}

.social-icon {
    display: block;
    height: 48px;
    width: 46px;
    padding: 0;
    margin: 0;
    background-color: #81b3d2;
    position: relative;
}

.social-icon:hover {
    background-color: #669ec0;
}

.social-icon:active {
    background-color: #669ec0;
}

.social-icon:active path {
    fill: #5496bd;
}

.icon-twitter {
    position: absolute;
    top: 17px;
    left: 15px;
    width: 17px;
    height: 15px;
}

.icon-facebook {
    position: absolute;
    top: 13px;
    left: 17px;
    width: 12px;
    height: 22px;
}

.icon-youtube {
    position: absolute;
    top: 16px;
    left: 13px;
    width: 20px;
    height: 16px;
}

.block-copyright {
    width: 33.33%;
    display: flex;
    align-items: flex-start;
}

.block-copyright b {
    padding-left: 102px;
    padding-top: 11px;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
}

.block-copyright a {
    padding-left: 9px;
    padding-top: 4px;
}

.html-academy-icon:hover path {
    fill: #81b3d2;
}

.html-academy-icon:active path {
    fill: #bdbbbc;
}

/* Стилизация футера конец */